* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--dark: #1c1c1c;
	--yellow: #f8d26d;
	--timber: #dfa46d;
	--plum: #724d50;
	--lightestBlue: #e7f6fd;
	--lightBlue: #cdedfc;
	--blue: #9fdcf9;
	--white: #ffffff;
}
body,
html,
main {
	height: 100%;
	width: 100%;
}

body {
	background: var(--dark);
	font-family: 'VT323', monospace;
	overflow: hidden;
}
.section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.bar {
	color: black;
	display: flex;
	align-items: center;
	/* padding: 16px; */
}

.health,
.hunger,
.energy {
	color: var(--plum);
	padding-right: 16px;
	font-size: 40px;
	line-height: 40px;
	letter-spacing: 15%;
}
.fun {
	color: var(--plum);
	padding-right: 0;
	font-size: 40px;
	line-height: 40px;
	letter-spacing: 15%;
}
.gameBoy {
	width: 447px;
	background: var(--yellow);
	border-radius: 10px;
	margin: 0 auto;
	/* height: 657px; */
	padding: 50px 10px 40px 10px;
}
.gameButton {
	background: var(--yellow);
	border: 5px solid var(--timber);
	border-radius: 50%;
	box-shadow: 0px 7px 0px var(--plum);
	cursor: pointer;
	display: inline-block;
	height: 75px;
	width: 70px;
}
.gameButton:active {
	box-shadow: none;
	transform: translateY(7px);
}
.gameButtons {
	display: flex;
	flex-direction: column;
	padding: 24px 34px 0 34px;
}
.gameButtons-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.gameParameters-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	margin-bottom: 20px;
}
.gameRestartButton {
	background: var(--yellow);
	border: 6px solid var(--timber);
	box-shadow: 0px 7px 0px var(--plum);
	color: var(--dark);
	cursor: pointer;
	display: none;
	/* display: inline-flex; */
	align-items: center;
	justify-content: center;
	font-family: 'VT323', monospace;
	font-weight: 400;
	font-size: 50px;
	line-height: 50px;
	padding: 8px 16px;
}
.tamagotchiImage {
	object-position: 5px -2px;
}
.imageContainer {
	overflow: hidden;
	position: absolute;
	bottom: 65px;
	display: flex;
	align-items: end;
}

.imageSize {
	width: 150px;
	height: 150px;
}
.playingImageSize {
	width: 185px;
	height: 170px;
}
.standardSize {
	height: 170px;
	width: 10px;
	object-position: -5px -2px;
}
.animatedState {
	animation: action 0.8s steps(2) infinite;
	object-fit: none;
	object-position: 5px 0;
}
.sleepingState {
	animation: sleeping 0.8s steps(2) infinite;
	object-fit: none;
	object-position: 5px -3px;
}
.playingState {
	animation: play 0.8s steps(2) infinite;
	object-position: 19px 0px;
}

.gameDisplay {
	border: 10px solid var(--timber);
}
.gameStats {
	background: var(--lightBlue);
	border: 10px solid var(--lightestBlue);
	padding: 16px;
}
.tamagotchiFrame {
	border: 7px solid var(--blue);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 280px;
	padding: 65px;
	position: relative;
	width: 100%;
}
.tamagotchiLine {
	background: var(--white);
	position: absolute;
	left: 85px;
	transform: translateX(-2%);
	bottom: 60px;
	content: 'after';
	height: 8px;
	width: 170px;
}
.tamagotchiStates {
	background: var(--lightestBlue);
	color: var(--plum);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 56px;
	line-height: 56px;
	margin-top: 15px;
	padding: 16px 0;
	text-transform: uppercase;
	width: 100%;
}

@keyframes action {
	100% {
		object-position: -300px 0;
	}
}
@keyframes sleeping {
	100% {
		object-position: -300px 0;
	}
}
@keyframes play {
	100% {
		object-position: -360px -5px;
	}
}
